<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-page">
    <meta charset="UTF-8">
    <title>Manager Product</title>
    <link rel="stylesheet" href="/resources/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/fontawesome/css/all.css">
    <link rel="stylesheet" href="/resources/datatable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/resources/css/index.css">
</head>
<body>

<div th:fragment="header-page">

</div>


<footer th:fragment="footer-page">

</footer>
</body>
<footer th:fragment="foot-page">
    <script src="/resources/js/jquery.slim.min.js"></script>
    <script src="/resources/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/resources/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/js/custom.js"></script>
</footer>
</html>