<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Product</title>
    <link rel="stylesheet" href="/resources/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/datatable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/resources/fontawesome/css/all.css">
    <link rel="stylesheet" href="/resources/css/index.css">
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="/"><i class="fa fa-rotate-back"></i> Back</a>
    <form action="/search" method="post">
        <div class="form-group">
            <label for="nameProduct">Tên sản phẩm</label>
            <input id="nameProduct" class="form-control" type="text" name="name" required>
        </div>
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i> Search</button>
    </form>
</div>
</body>
<script src="/resources/js/jquery.slim.min.js"></script>
<script src="/resources/datatable/js/jquery.dataTables.min.js"></script>
<script src="/resources/datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/resources/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/resources/js/custom.js"></script>
</html>