<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <a class="btn btn-primary" href="/"><i class="fa fa-rotate-back"></i> Back</a>
        <div class="justify-content-center text-center row">
            <h2 style="color: red; font-style: italic" th:text="${blog.titleBlog}"></h2>
        </div>
        <div class="justify-content-center text-center row">
            <h4 style="font-style: italic">Tác giả: <h4 style="font-style: italic" th:text="${blog.artistBlog}"></h4></h4>
            <h4 style="font-style: italic">, Danh mục: <h4 style="font-style: italic" th:text="${blog.catalog.typeCatalog}"></h4></h4>
        </div>
        <p class="justify-content-center text-center row" th:text="${blog.contentBlog}"></p>
    </div>
</body>
<script src="/js/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
</html>